<mat-toolbar color="primary">
  <span class="logo">makapela</span>
  <span>Akordy</span>
</mat-toolbar>
<div class="main">
  <div class="content-wrapper">
    <!-- <button mat-button (click)="newSong()">
      <mat-icon>add</mat-icon> Add Song
    </button> -->

    <div class="container-wrapper">
      <div class="container">
        <h2>all songs ({{ (songs | async)?.length }})</h2>
        <mat-card cdkDropList id="songs" #songsList="cdkDropList"
          [cdkDropListData]="songs | async"
          [cdkDropListConnectedTo]="[playList]"
          (cdkDropListDropped)="drop($event)"

          class="list">
          <p class="empty-label" *ngIf="(songs | async)?.length === 0">Empty</p>
          <app-song (edit)="editSong('songs', $event)" *ngFor="let song of songs | async" cdkDrag [song]="song"></app-song>
        </mat-card>
      </div>
      <div class="container">
          <h2>playlist ({{ (play | async)?.length }})</h2>
          <mat-card cdkDropList id="play" #playList="cdkDropList"
            [cdkDropListData]="play | async"
            [cdkDropListConnectedTo]="[songsList]"
            (cdkDropListDropped)="drop($event)"
            class="list">
            <p class="empty-label" *ngIf="(play | async)?.length === 0">Empty</p>
            <app-song (edit)="editSong('play', $event)" *ngFor="let song of play | async" cdkDrag [song]="song"></app-song>
          </mat-card>
      </div>
    </div>
  </div>
</div>
